---
- name: Start IPD services
  hosts: all
  become: yes
  vars_files:
    - ../group_vars/all.yml
    - ../group_vars/edges.yml
  tasks:
    - name: Start and enable services
      systemd:
        name: "{{ item.name }}"
        state: started
        enabled: yes
      loop: "{{ services }}"

    - name: Wait for services to be ready
      wait_for:
        port: "{{ item.port }}"
        timeout: 30
      loop: "{{ services }}"
      when: item.port is defined
