---
- name: Stop IPD services
  hosts: all
  become: yes
  vars_files:
    - ../group_vars/all.yml
    - ../group_vars/edges.yml
  tasks:
    - name: Stop services
      systemd:
        name: "{{ item.name }}"
        state: stopped
      loop: "{{ services }}"
      ignore_errors: yes
